export NETBOX_URL=http://localhost:8080
export NETBOX_TOKEN=$(sed -n 's/^SUPERUSER_API_TOKEN="\([^"]*\)"/\1/p' $(expand_path "$PWD/.docker/netbox/netbox.env"))
export USER_UID=$(id -u)
export USER_GID=$(id -g)
export VAR_FILES_DIR=$(expand_path "$PWD/test_data/vars")
export DEVICE_TYPE_FILES_DIR=$(expand_path "$PWD/test_data/device_types")
